* {
  text-align: center;
  margin: 0 ;
  padding: 0;
}
body {
  display: none;
}
.section {
  position: relative;
  overflow: hidden;
}
.twocon,
.onecon {
  /* left: 200px; */
  opacity: 0;
  transition: all 1s ;
  transform: scale(10);
}
.tns_scale_15 {
  opacity: 1;
  transform: scale(2);
}
@keyframes rotatex {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
    transform-origin: 50% 0% ;
    transform-style: preserve-3d;
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotatey {
  animation: rotateY 4s linear 0s infinite;
}
.rotateplus {
  animation: rotatex 2s linear 0s infinite;
}
.onescreen {
  background-color: #fff;
}
.onescreen .contain div {
  position: absolute;
  height: 100px ;
  width: 100px ;
  background-color: #aaa;
}
.onescreen .contain > div:nth-of-type(odd) {
  top: -120px;
  left: -20px;
  transform: translateX(-100%);
}
.onescreen .contain > div:nth-of-type(even) {
  left: 110%;
  top: -120px;
}
.onescreen .contain > div:nth-of-type(n+3) {
  top: 400px;
}
.onescreen .contain > div:nth-of-type(4) {
  border-radius: 100%;
}
.twoscreen div {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.twoscreen div div {
  height: 260px;
  margin-left: -90px;
  width: 180px;
  background-color: #aaa;
  position: absolute;
  top: -300px;
  left: 50%;
}
a {
  position: fixed;
  bottom: 20px ;
  right: 20px ;
  width: 20px ;
  height: 20px ;
  background-color: red ;
  z-index: 99;
  border-radius: 100%;
}
